{
  "printWidth": 120,
  "semi": false,
  "singleQuote": false,
  "files": "*.js",
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
