:golbal {
  .ant-input-group-wrapper {
    width: auto;
  }
}

.headerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 10px;
  border-bottom: 1px solid rgb(229, 231, 235);

  .title {
    font-size: 20px;
    font-weight: 600;
  }
  @apply sticky top-0 flex items-center justify-between h-[64px] w-full p-[10px] bg-white z-50 shadow-sm;
}

.headerWrap {
  position: sticky;
  top: 0;
  z-index: 50;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 10px;
  border-bottom: 1px solid rgb(229, 231, 235);
  .title {
    font-size: 20px;
    font-weight: 600;
  }
}

.mainWrap {
  @apply p-[10px];
  .filterWrap {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;

    .buttonSelect {
      @apply w-80 h-[40px];
    }

    .btnAdd {
      color: #fff;
      background: #4ca1f5;
      &:hover {
        color: #fff;
        background: #4ca1f5;
      }
    }
  }
  .groupFilter {
    @apply flex flex-col sm:flex-row items-center gap-3 h-[60px] mb-11 sm:mb-3;

    .buttonAdd {
      @apply h-[40px];
    }
    .filterWrap {
      @apply flex items-center gap-3 w-full sm:w-auto;
      .btnAdd {
        @apply w-full sm:w-auto;
      }
    }
  }
}

.descriptionTable {
  @apply line-clamp-2;
}

.button {
  @apply p-0 w-8 h-8;
}
.icon {
  @apply w-4 h-4;
}

.icon {
  transition: all 0.3s ease;
}

.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
