@import "../../assets/scss/variables";

.mainWrap {
  @apply p-[20px] flex justify-center items-center flex-col;
  .btnCancel {
    background: #4ca1f5;
    margin-right: 5px;
    color: #ffffff;
    &:hover {
      background: #4ca1f5 !important;
      color: #ffffff !important;
    }
  }
  .btnDelete {
    background: #e86161;
    &:hover {
      background: #e86161 !important;
    }
  }
}
