@import "@/assets/scss/variables";

.boxFormSubmitLink {
  width: 100%;
  padding: 20px;
  .headerForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .title {
      font-size: 16px;
      font-weight: 600;
    }
    .iconWrap {
      color: #6e6e6e;
      cursor: pointer;
    }
  }
  .formSubmitLink {
    .groupSubForm {
      margin-bottom: 10px;
      .titleWrap {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(159, 159, 159, 0.17);
        padding: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .icon {
          color: #6e6e6e;
        }
      }
    }

    .btnWrap {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      gap: 10px;
      .btnConfirm {
        color: $colorWhite !important;
        background: $mainColor;
        &:hover {
          color: $colorWhite;
          background: $mainColor !important;
        }
      }
    }
  }
}
