@import "@/assets/scss/variables";

.boxBotChats {
  .boxFilterWrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    .btnAddBot {
      color: $colorWhite;
      background: $mainColor;
      &:hover {
        color: $colorWhite;
        background: $mainColor;
      }
    }
  }

  .itemBotWrap {
    margin-bottom: 10px;
    .itemBot {
      box-shadow: 0 4px 8px 0 #9e9e9e87;
      border-radius: 8px;
      transition: all 0.3s;
      height: 100%;
      &:hover {
        background: rgba(194, 194, 194, 0.06);
      }
      .mainWrap {
        padding: 10px;
        .imgWrap {
          width: 100%;
          cursor: pointer;
        }

        .boxStatus {
          margin-top: 5px;
        }

        .boxBtnAction {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          .iconAction {
            cursor: pointer;
            color: #6e6e6e;
          }
        }
      }

      .btnActionWrap {
        border-top: 1px solid #d5d5d5;
        padding: 10px;

        .btnItem {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .btnDelete {
          justify-content: center;
          color: #d36a6a;
        }
      }
    }
  }
}

.boxFormSubmitLink {
  width: 450px;
  padding: 10px;
  .formSubmitLink {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    .btnConfirm {
      color: $colorWhite !important;
      background: $mainColor ;
      &:hover {
        color: $colorWhite;
        background: $mainColor !important;
      }
    }
  }
}

.menuAction {
  margin: -12px;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  min-width: 100px;
  overflow: hidden;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  .itemBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s;
  }
}
