@import "@/assets/scss/variables";

.boxBotChats {
  .boxFilterWrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    .btnAddBot {
      color: $colorWhite;
      background: $mainColor;
      &:hover {
        color: $colorWhite;
        background: $mainColor;
      }
    }
  }

  .itemBotWrap {
    box-shadow: 0 4px 8px 0 #9e9e9e87;
    border-radius: 8px;
    height: 100%;
    transition: all 0.3s;
    &:hover {
      background: rgba(194, 194, 194, 0.06);
    }

    .mainWrap {
      padding: 10px;
      cursor: pointer;
    }

    .btnActionWrap {
      border-top: 1px solid #d5d5d5;
      padding: 5px;

      .btnItem {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.boxFormSubmitLink {
  width: 450px;
  padding: 10px;
  .formSubmitLink {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    .btnConfirm {
      color: $colorWhite !important;
      background: $mainColor ;
      &:hover {
        color: $colorWhite;
        background: $mainColor !important;
      }
    }
  }
}
