@import "@/assets/scss/variables";

.boxRegister {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .formRegisterWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;

    .headerForm {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      .title {
        font-weight: 600;
        font-size: 24px;
      }
      .description {
        color: $colorDescription;
      }
    }

    .formRegister {
      width: 100%;
      margin-bottom: 20px;

      .btnRegister {
        border: none;
        background: $mainColor;
        width: 100%;
        color: $colorWhite;
        font-weight: 600;
        height: 40px;
      }
    }

    .tooltipWrap {
      .policyWrap {
        text-align: center;
        color: $colorDescription;
        .textActive {
          cursor: pointer;
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
  }
}
