.headerWrap {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 10px;
  border-bottom: 1px solid rgb(229, 231, 235);
  .title {
    font-size: 20px;
    font-weight: 600;
  }
}

.mainWrap {
  padding: 10px;

  .groupService {
    .serviceItem {
      box-shadow: 0 4px 8px 0 rgba(158, 158, 158, 0.5294117647);
      padding: 20px;
      border-radius: 8px;

      .logoWrap {
        width: 80px;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }

      .title {
        font-size: 20px;
        font-weight: 600;
      }

      .description {
        font-size: 13px;
        font-weight: 400;
        color: #787878;
        margin-bottom: 10px;
      }

      .btnAction {
        margin-top: 10px;

        .btnLoginFB {
          width: 100%;
          color: #ffffff;
          background: cadetblue;
        }

        .selectPage {
          width: 100%;
          color: #ffffff;
          background: cornflowerblue;
        }
      }

      .btnUnlink {
        width: 100%;
        color: #ffffff;
        background: #ff6d6d;
      }
    }
  }
}

.listPageFB {
  width: 200px;
  .pageItem {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background: #f3f4f6;
    }
  }
}
